{% extends "khryptooo/base_en.html" %}
{% block content %}
<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-12">
				<h1>Welcome to <b>khrypt.ooo</b></h1>
				<h3>We provide security and privacy in Cambodia so the press can do its job.</h3>
				<br/>
			</div>	
			<div class="col-lg-10 col-lg-offset-1">
				<p><b>khrypt.ooo</b> is a non-profit initiative founded to enhance communication security for journalists and rights workers in Cambodia. Initially founded with the help of the Overseas Press Club of Cambodia, we are an independent group of journalists, human rights activists and security enthusiasts. We focus on communication-related social issues such as online surveillance and censorship.</p>
				<br/><br/>
			</div>
		</div>
	</div>
</div>

<div id="intro">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-4">
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
				<h3>Resist Surveillance</h3>
				<p>Our locally hosted services ease interacting with your sources securely and anonymously.</p>
			</div>
			<div class="col-lg-4">
				<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
				<h3>Information Security</h3>
				<p>Protect yourself by protecting your data. We cannot read your private messages.</p>
			</div>
			<div class="col-lg-4">
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
				<h3>No Fees</h3>
				<p>We have chosen to operate on a donation basis because we believe that all human beings have an equal right to privacy.</p>
			</div>
		</div>
		<br/><hr/>
    </div>
</div>

<div id="news">
	<div class="container">
		<div class="row">
			<h1 class="centered">What's Up?</h1>
			<div class="col-lg-8 col-lg-offset-2">
				<h3>30th January, Cybercrime Consultation Session (Private event)</h3>
				<p>The discussion aims to raise awareness of government efforts to monitor and restrict the Internet and the effects these actions may have on Cambodia's media. A list of recommendations compiled during the consultation will be used by Freedom House's legal expert to draft an alternative piece of Internet legislation, which will be opened for public comment and presented to the Cambodian government for consideration.</p>
				<hr/>
				<h3>27th January, Cyber Security Debate</h3>
				<p>We will participate in a panel debate to discuss the future of the Internet in Cambodia. The debate will be hosted at <a href="http://www.meta-house.com/" target="_blank">Meta House</a> in Phnom Penh starting at 19:00.</p>
				<hr/>
				<h3>17th January, Crypto Party</h3>
				<p>khrypt.ooo and The Overseas Press Club of Cambodia will arrange a crypto party at <a href="http://www.meta-house.com/" target="_blank">Meta House</a> in Phnom Penh. We will cover communications security, physical security, operations security and information system security from a journalistic perspective.</p>
			</div>
		</div>
	</div>
</div>
<div id="footerwrap">
	<div class="container">
		<div class="col-lg-10">
			<h3>Our fingerprints</h3><br>
			<p><b>Proxy:</b> 3c:f5:2e:42:7b:c4:e9:5e:75:78:7d:99:46:1a:ef:7f</p>
			<p><b>Jabber:</b> <a href="https://xmpp.net/result.php?domain=khrypt.ooo&amp;type=server" target="_blank">68:89:10:a8:38:be:ec:f5:64:54:99:8e:ee:4f:c7:a2:64:7f:84:0c</a></p>
			<p><b>Tor:</b> <a href="https://atlas.torproject.org/#details/94F806110B23E727AE8BAD74DD95B0EE0B7A8EEC" target="_blank">94F806110B23E727AE8BAD74DD95B0EE0B7A8EEC</a></p>
		</div>
	</div>
</div>
{% endblock content %}
